<!DOCTYPE html>

{% load static from staticfiles %}
{% load header %}
{% load footer %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main-light.min.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/bearclubs.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
     {{ form.media }}
     
  </head>
  <body>

    <script type="text/javascript">
      $(document).ready(BearClubs.onReady);
    </script>

    {% show_header %}

    <div id="wrapper">
      <div id="content">
        {% block main_content %}
        {% endblock %}
      </div>
    </div>

    {% show_footer %}

  </body>
</html>
