Django==1.11.29
argparse==1.1
coverage==3.7.1
dj-database-url==0.2.2
dj-static==0.0.5
django-haystack==2.1.0
django-toolbelt==0.0.1
elasticsearch==1.0.0
gunicorn==18.0
psycopg2==2.5.2
pyelasticsearch==0.6.1
pystache==0.5.3
python-ptrace==0.7
pytz==2014.2
requests==2.2.1
selenium==2.40.0
simplejson==3.3.3
six==1.6.1
static==1.0.2
urllib3==1.8
wsgiref==0.1.2
