/* CSS styles */
/**************/

html {
  min-width:  960px;
  min-height: 400px;

  .no-margin();
  .no-padding();

  .antialiased-fonts();
  .crisp-image-render();
  background-color: #fafafa;
}

body {
  min-width:  960px;

  .no-margin();
  .no-padding();

  background-repeat: repeat;
  background-image: @body-background-image;

  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

#header {
  position: fixed;
  z-index:  500;
  height:   60px;
  width:    100%;

  overflow: hidden;

  margin-bottom: 50px;

  background-color: @header-background-color;

}

#header-content {
  width:  960px;
  margin: 0 auto;

  text-shadow:  0 1px @header-text-shadow-color;

  a, a:visited {
    text-decoration: none;
    color: @header-button-link-color;
  }

  img {
    float:    left;
    padding:  5px 10px;

    background-color: @header-logo-background-color;
  }


  #bc-logo {
    height: 60px;

    display: inline;
    float: left;

    padding: 0px 20px;

    font-family:  'Satisfy', sans-serif;
    font-size:    30px;
    line-height:  30px;

    background-color: @header-logo-background-color;
  }

  #bc-logo-link {
    text-decoration: none;

    .bc-logo-bear {
      color: @style-white;
    }

    .bc-logo-clubs {
      color: @style-gold;
    }

    .bc-logo-bear,
    .bc-logo-clubs {
      display: inline;
      float: left;

      margin: 15px 0px;
    }
  }

  #bc-logo-link:visited,
  #bc-logo-link:active {
    color: inherit;
  }

  .header-button {
    height: 60px;
    min-width: 60px;

    float: right;

    div {      
      margin:   20px 0;
      padding:  0 30px;

      font-family:  'Montserrat', sans-serif;
      font-weight:  400;
      font-size:    12pt;
      text-rendering: optimizeLegibility;

      line-height:  20px;
      text-align:   center;
    }
  }
}

#wrapper {
  width: 100%;

  background-color: #fafafa;

  overflow: hidden;
}

#welcome-header {
  min-height: auto;
  width:  100%;

  margin: 0 auto;
  padding-top: 150px;

  background-color: @header-background-color;

  font-family:  'Montserrat', sans-serif;

  h2 {
    padding-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-align: center;

  }

  .content-div,
  .content-div div {
    text-align: center;

    font-family:  'Montserrat', sans-serif;
    font-weight:  400;
    font-size:    24px;

    color: @content-text-color;

    .border-radius(4px);
    background-color: @content-div-background-color;
  }

  .row-container {
    height: 200px;
    width:  100%;

    margin-top: 100px;

    display: inline-block;
    .no-background();
  }

  .btn-login {
    text-decoration: none;
    background-color: #06ba8f;
    color: #fff;

    display: inline-block;
    margin-bottom: 0;
    
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.333333333;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 260px;
    font-size: 24px;
    font-family:  'Montserrat', sans-serif;
  }

   .btn-signup {
    text-decoration: none;
    background-color: #fdb515;
    color: #fff;

    display: inline-block;
    margin-bottom: 0;
    
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.333333333;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 260px;
    font-size: 24px;
    font-family:  'Montserrat', sans-serif;
  }

}

#content {
  min-height: 640px;
  min-width: 1000px;
  width: auto;

  margin: 80px auto;
  padding: 0 20px;

  font-family:  'Montserrat', sans-serif;
  font-weight:  400;
  font-size:    14px;
  background-color: #fafafa;

  a {
    text-decoration: none;
  }

  

  table.full {
    border-collapse: collapse;
    width: 100%;
  }

  table.full td {
    padding: 0.5em;
    font-weight: bold;
  }

  .content-div,
  .content-div div {
    text-align: center;

    font-family:  'Montserrat', sans-serif;
    font-weight:  400;
    font-size:    24px;

    color: @content-text-color;

    .border-radius(4px);
  }

  .row-container {

    height: 200px;
    width:  100%;

    margin-top: 50px;

    display: inline-block;
    .no-background();
  }

  .row-div {
    height: 200px;
    width:  100%;

    margin-top: 20px;
  }

  .col-div {
    height: 200px;
    width:  470px;

    display: inline-block;
  }

  .col-div:first-child {
    margin-right: 20px;
  }

  .col-div-thirds {
    height: 200px;
    width:  306px;

    float: left;
  }

  .col-div-thirds:nth-child(2) {
    width:  307px;
  }

  .col-div-thirds:first-child,
  .col-div-thirds:nth-child(2) {
    margin-right: 20px;
  }

  
}

#footer {
  height: 100px;
  width: 100%;

  margin-top: 0px;

  background-color: #2f2f2f;

}

#footer-content {
  width:  960px;

  margin: 0 auto;
}


