{% extends "layout/base.html" %}

{% block main_content %}

<h2>{{ club.name }}</h2>
<br>
<h4>Organization Type: {{ club.organization_type }}</h4>
<br>
<h4>Description: {{ club.description }}</h4>
<br>
<h4>Contact Email: {{ club.contact_email }}</h4>
<br>
<div class="clubProfile">
      <form method="post" action="{% url 'BearClubs.bc.views.organization.joinClub' %}">
        {% csrf_token %}
        <input type="hidden" name="organization_id" id="organization_id" value='{{ club.id }}'>
        {% if member == True and admin == True %}
        You are a member and admin of this club.
        {% elif member == True %}
          <p>You are a member of this club.</p>
          <input id="leave-club-button" class="button" type="submit" name="leave-club-button" value="Leave Club">
        {% else %}
          <input id="join-club-button" class="button" type="submit" name="join-club-button" value="Join Club">
        {% endif %}
      </form>

      {% if admin == True %}
        <input id="manage-button" class="button" type="submit" value="Manage" onClick="location.href='/clubs/{{ club.id }}/manage_members';">
      {% endif %}
</div>

{% endblock %}