{% extends "layout/base.html" %}

{% block main_content %}

<h2>{{ club.name }}</h2>
<h3>{{ club.contact_email }}</h3>

      {% if members %}
        <ul>
        {% for member in members %}
          <li> {{ member.user.username }} </li>
        {% endfor %}
        </ul>
      {% endif %}

      <form method="post" action="{% url 'BearClubs.bc.views.organization.joinClub' %}">
        {% csrf_token %}
        <input type="hidden" name="organization_id" id="organization_id" value='{{ club.id }}'>
        <input id="join-club-button" class="button" type="submit" value="Join Club">
      </form>

{% endblock %}