{% extends "layout/base.html" %}

{% block main_content %}
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td {
      padding: 0.5em;
      font-weight: bold;
    }
  </style>

  <h2>Club Directory</h2>
  <table id="club-directory" class="full tablesorter">
    <thead>
      <tr>
        <th><span>Name</span></th>
        <th><span>Type</span></th>
        <th><span>Description</span></th>
        <th><span>Contact</span></th>
      </tr>
    </thead>
    <tbody>
      {% for club in clubs %}
      <tr>
          <td>{{ club.name }}</td>
          <td>{{ club.organization_type }}e</td>
          <td>{{ club.description }}</td>
          <td>{{ club.contact_email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
