{% extends "layout/base.html" %}

{% block header_content %}

  <h2>
    Get connected at Berkeley.
  </h2>
  <div class="content-div row-container">
    <a href="#" class="btn-login">Login</a>
    <a href="#" class="btn-signup">Sign Up</a>
  </div>
  
{% endblock %}

{% block main_content %}
 
  
  <div class="content-div row-container">
    <div class="col-div">It works here too!</div>
    <div class="col-div">And here!</div>
  </div>
  <div class="content-div row-container">
    <div class="col-div">It works here too!</div>
    <div class="col-div">And here!</div>
  </div>
{% endblock %}
