{% extends "layout/base.html" %}

{% block main_content %}
  <div class="content-div row-div">It works!</div>
  <div class="content-div row-container">
    <div class="col-div">It works here too!</div>
    <div class="col-div">And here!</div>
  </div>
  <div class="content-div row-container">
    <div class="col-div-thirds">Here one...</div>
    <div class="col-div-thirds">...two...</div>
    <div class="col-div-thirds">...and three!</div>
  </div>
  <div class="content-div row-div">It works!</div>
  <div class="content-div row-container">
    <div class="col-div">It works here too!</div>
    <div class="col-div">And here!</div>
  </div>
{% endblock %}
