{% extends "layout/base.html" %}

{% block welcome_header %}

  <div id="welcome-header">
    <h2>
      Get connected at Berkeley.
    </h2>
    <div class="content-div row-container">
      <a href="/calnet/login" class="btn-login">Login With CalNet</a>
    </div>
  </div>

{% endblock %}

{% block main_content %}
 
  <div class="content-div row-container">
    <div class="col-div">
      <img src="../static/img/map-icon.png" alt="Map">
    </div>
    <div class="col-div">
      <h3> Find where clubs are meeting on campus! </h3>
    </div>
  </div>
  <div class="content-div row-container">
    <div class="col-div">
      <img src="../static/img/calendar-icon.png" alt="Calendar">
    </div>
    <div class="col-div">
      <h3> Find where and when events are happening!</h3>
    </div>
  </div>
  <div class="content-div row-container">
    <div class="col-div">
      <img src="../static/img/profile-icon.png" alt="Profile">
    </div>
    <div class="col-div">
      <h3> Create a profile to keep up with everything!</h3>
    </div>
  </div>

{% endblock %}
