{% extends "layout/base.html" %}

{% block main_content %}

<h2>{{ club.name }}</h2>
<br>
<h4>Click on "Promote To Admin" button to give a member admin privileges.</h4>
<br>
<h4>Members:</h4>
<br>
  {% if members %}
    <ul>
    {% for member in members %}
      <li> 
        <form method="post" action="{% url 'BearClubs.bc.views.user.promote' %}">
        <h4>{{ member.user.username }}</h4>
        {% if admin == True and member.admin == False %}
          {% csrf_token %}
          <input type="hidden" name="uto_id" id="uto_id" value='{{ member.id }}'>
          <input type="hidden" name="org_id" id="org_id" value='{{ club.id }}'>
          <input id="promote-button" class="button" type="submit" value="Promote To Admin">
        {% elif admin == True and member.admin == True %}
          <input id="message-button" class="button" type="submit" value="Member is already an Admin" onClick="return false">
        {% endif %}
        </form>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}