		<style media="screen" type="text/css">

		#content .section-container {
    		height: 350px;
    		width: 960px;
    		margin-left: 220px;
    		margin-right: 220px;
    		margin-top: 20px;
    		display: inline-block;
    		background-color: transparent;
    		background-image: none;
    		text-align: center;
		}

		#content .section-div {
			padding-left: 20px;
			padding-right: 20px;
			text-align: left;
			font-size: 15px;
	    	height: 350px;
	    	width: 250px;
	    	float: left;
		}
		
		#content .section-div:first-child {
    		margin-right: 20px
		}
		
		input {
			float: left;
			width: 100%;
			height: 30px;
			margin-top: 3px;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid #FDB515;

			border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
		}
		
				
		input.button {
			width: 30%;
			float: right;
			border: 1px solid #FDB515;
			padding: 0;
			background: #FDB515;
			color: #fff;
			margin-top: 10px;
			vertical-align: middle;
			font-size: 15px;
		}
		

		</style>
		<script type="text/javascript">
			function register() {
				username = $('#signup-username').val();
				password = $('#signup-password').val();
				json_request('/users/add', { user: username, password: password }, username);
			}
			
			function json_request(url, json, username) {
				$.ajax({
					type: 'POST',
					url: url, 
					data: JSON.stringify(json), 
					contentType: 'application/json',
					dataType: 'json',
					success: function(data) {
						return handle_messages(data, username);
					},
					error: function(error) {
						alert("An error was encountered");
					}
				});
			}
		</script>
{% extends "layout/base.html" %}

{% block main_content %}
	<div class="section-container">
		<div id="signup" class="section-div">
  				<h3 class="signup-title">Register</h3>
    			<form>
      				Username: 
      				<br>
      				<input id="signup-username" type="text" name="username">
      				<br>
    				Email: 
    				<br>
    				<input id="signup-email" type="text" name="email">
  					<br>
  					Password: 
  					<br>
  					<input id="signup-password" type="password" name="password">
  					<br>
  					Confirm Password: 
  					<br>
  					<input id="signup-confirm-password" type="password" name="confirm-password">
  					<br>
      				<input id="register-button" class="button" type="submit" value="Register" onclick="register(); return false;">
    			</form>
		</div>
		<div id="signin" class="section-div">
  				<h3 class="signin-title">Sign-In</h3>
    			<form>
      				Username or Email: <input id="signin-username" type="text" name="username">
      				<br>
    				Password: <input id="signin-password" type="password" name="password">
  					<br>
      				<input id="signin-button" class="button" type="submit" value="Sign-In" onclick="sign-in(); return false;">
    			</form>
		</div>
	</div>

{% endblock %}
