<script type="text/javascript">
	function register() {
		username = $('#signup-username').val();
		password = $('#signup-password').val();
		json_request('/users/add', { user: username, password: password }, username);
	}
	
	function json_request(url, json, username) {
		$.ajax({
			type: 'POST',
			url: url, 
			data: JSON.stringify(json), 
			contentType: 'application/json',
			dataType: 'json',
			success: function(data) {
				return handle_messages(data, username);
			},
			error: function(error) {
				alert("An error was encountered");
			}
		});
	}
</script>
{% extends "layout/base.html" %}

{% block main_content %}
	<div class="section-container">
		<div id="signup" class="section-div">
  				<h3 class="signup-title">Register</h3>
    			<form>
      				Username: 
      				<br>
      				<input id="signup-username" type="text" name="username">
      				<br>
    				Email: 
    				<br>
    				<input id="signup-email" type="text" name="email">
  					<br>
  					Password: 
  					<br>
  					<input id="signup-password" type="password" name="password">
  					<br>
  					Confirm Password: 
  					<br>
  					<input id="signup-confirm-password" type="password" name="confirm-password">
  					<br>
      				<input id="register-button" class="button" type="submit" value="Register" onclick="register(); return false;">
    			</form>
		</div>
		<div id="signin" class="section-div">
  				<h3 class="signin-title">Sign-In</h3>
    			<form>
      				Username or Email: <input id="signin-username" type="text" name="username">
      				<br>
    				Password: <input id="signin-password" type="password" name="password">
  					<br>
      				<input id="signin-button" class="button" type="submit" value="Sign-In" onclick="sign-in(); return false;">
    			</form>
		</div>
	</div>

{% endblock %}
