{% extends "layout/base.html" %}

{% block main_content %}

  <div class="section-container">
    <div id="signup" class="section-div">
      <h3 class="signup-title">Register</h3>
      <form class="signup" method="post" action="{% url 'BearClubs.bc.views.user.userSignUp' %}">
        {% csrf_token %}
        {% for field in signup_form %}
          <div class="form_item_wrapper">
            <p>{{ field.label }}:</p>
            {{ field.errors }}
            {{ field }}
            <br>
          </div>
        {% endfor %}
        <input id="register-button" class="button" type="submit" value="Register">
      </form>
    </div>
    <div id="signin" class="section-div">
      <h3 class="signin-title">Sign-In</h3>
      <form class="login" method="post" action="{% url 'BearClubs.bc.views.user.userSignIn' %}">
        {% csrf_token %}
        {% if signin_form.non_field_errors %}
          <div class="form_item_wrapper">
            {{ signin_form.non_field_errors }}
          </div>
        {% endif %}
        {% for field in signin_form %}
          <div class="form_item_wrapper">
            <p>
              {{ field.label }}:
            </p>
            {{ field.errors }}
            {{ field }}
            <br>
          </div>
        {% endfor %}
        <input id="login-button" class="button" type="submit" value="Log In">
      </form>
    </div>
  </div>

{% endblock %}
