{% extends "layout/base.html" %}

{% block main_content %}

  <h2>Profile</h2>
  <h3>{{ user.name }} ({{user.email}})</h3>

  <h3>Club Membership:</h3>
  <ul>
    {% for club in user.clubs %}
    <li>
        <a href="/clubs/{{ club.id }}">{{ club.name }}</a>
        {% if club.contact_email %}
            <a href="mailto:{{ club.contact_email }}">({{ club.contact_email }})</a>
        {% endif %}
    </li>
    {% endfor %}
  </ul>

  <h3>Upcoming Events:</h3>
  <ul>
    {% for event in user.events %}
    <li>
        <a href="/events/{{ event.id }}">{{ event.name }}</a>
        {% if event.contact_email %}
            <a href="mailto:{{ event.contact_email }}">({{ event.contact_email }})</a>
        {% endif %}
    </li>
    {% endfor %}
  </ul>

{% endblock %}