{% extends "layout/base.html" %}

{% block main_content %}

<div class="userProfile">

      <h2>{{ user.name }}</h2>
      <p class="subtitle">{{user.email}}</p>

      <div class="boxes">

        <div class="leftbox">
          <h3>Club Membership:</h3> 
            <br>
            {% for club in user.clubs %}
                <p> 
                  <a href="/clubs/{{ club.id }}">{{ club.name }}</a>
                {% if club.contact_email %}
                  <a href="mailto:{{ club.contact_email }}">- {{ club.contact_email }}</a> 
                {% endif %}
                </p>
            {% endfor %}
        </div>


        <div class="rightbox">
          <h3>Upcoming Events:</h3>
          <br>
            {% for event in user.events %}
              <p> 
                <a href="/events/{{ event.id }}">{{ event.name }}</a>
              {% if event.contact_email %}
                <a href="mailto:{{ event.contact_email }}">- {{ event.contact_email }}</a>
              {% endif %}
              </p>
            {% endfor %}
          </ul>
        </div>

    </div>

</div>

{% endblock %}