#content {
	.clubProfile {
		#uto_id, #org_id {
			display: none;
		}


		#promote-button, #message-button {
			display: inline;
		}

		h4 {
			display: inline-block;
		}

		form {
			margin: 0px;
		}


		ul {
		    list-style-type: none;
		    margin-left: 100px;
		    margin-right:100px;
		}

		li {
		    float: left;
		    width: 100%    
		}
	}
}