#content {
	.clubProfile {
		#uto_id, #org_id {
			display: none;
		}


		#promote-button, #message-button {
			display: inline;
		}

		h4 {
			display: inline-block;
		}

		form {
			margin: 0px;
		}


		ul {
		    list-style-type: none;
		    margin-left: 100px;
		    margin-right:100px;
		}

		li {
		    float: left;
		    width: 100%    
		}

		input.button {
	        height: 30px;
	        width: 30%;

	        float:      right;
	        margin-top: 10px;
	        margin-bottom: 20px;
	        padding:    0;

	        vertical-align: middle;
	        font-size: 15px;

	        //border: 1px solid @style-gold;
	        background-color:   @style-gold;
	        color:              @style-pure-white;
	    }
	}
}