@header-background-color:       #003a70;
@header-border-color:           @style-light-grey;
@header-button-link-color:      #FFFFFF;
@header-logo-background-color:  @style-blue;
@header-shadow-color:           @style-light-grey;
@header-text-shadow-color:      @style-light-grey;
